@import "mixin.scss";

.chart-container {
  width: 80%;
  margin: 200px auto;
  position: relative;
}
.chart-container {

}

svg.enable-graph {
  position: relative;
  @include transform('translateY(20%)');
}
svg.disable-graph {
  position: relative;
  right: 1.4%;
}


